<div>
    <h1 class="text-sm"><%= @stock_listings.name %></h1>
    <h1 class="text-3xl font-semibold tracking-widest"><%= @stock.symbol %></h1>
</div>
<div class="flex items-end">
    <button class="text-sm bg-yellow-400 font-semibold px-2 py-1 rounded-sm">Buy Stock</button>
</div>
