<nav class="flex justify-center text-white bg-teal-700">
    <ul class="max-w-[1210px] text-base flex items-center m-auto">
        <li class="h-12 flex items-center px-6 cursor-pointer hover:bg-teal-600 text-center">Home</li>
        <li class="h-12 flex items-center px-6 cursor-pointer hover:bg-teal-600 text-center">Services</li>
        <li class="h-12 flex items-center px-6 cursor-pointer hover:bg-teal-600 text-center">About Us</li>
    </ul>
</nav>