<h2 class="text-6xl text-center font-roboto font-semibold">
    <span class="font-roboto text-teal-700">Smart</span> trading, 
    <span class="font-roboto text-teal-700">Bright</span> future
</h2>
<%= link_to new_user_registration_path do %>
    <div class="w-fit text-white text-md bg-teal-700 font-roboto font-medium px-6 py-4 rounded tracking-widest cursor-pointer hover:bg-teal-800">
        GET STARTED
    </div>
<% end %>
<p class="text-lg text-center"><span class="font-semibold">Investo offers unlimited free access</span> for you to explore at your convenience.</p>