<main class="h-full mx-auto overflow-scroll">
    <section>
        <%= render "home/banner"%>
    </section>
    <section class="flex flex-col items-center pt-24 pb-16 gap-8">
       <%= render "home/slogan"%>
    </section>
    <section class="pb-44">
        <%= render "home/sponsor"%>
    </section>
</main>