<ol class="items-center sm:flex">
    <li class="relative mb-6 sm:mb-0">
        <div class="flex items-center">
            <div class="z-10 flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full text-sm ring-0 ring-white dark:bg-teal-600 sm:ring-8 dark:ring-teal-700 shrink-0">
                <%= fa_icon "search", class: "text-white"%>
            </div>
            <div class="hidden sm:flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
        </div>
        <div class="mt-3 sm:pe-8">
            <time class="block text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Step 1</time>
            <h3 class="text-lg font-semibold text-gray-900 dark:text-gray-800">Market Analysis</h3>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">Utilize Investo’s tools to research your chosen stock. Select the stock and access its detailed information page.</p>
        </div>
    </li>
    <li class="relative mb-6 sm:mb-0">
        <div class="flex items-center">
            <div class="z-10 flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full text-xs ring-0 ring-white dark:bg-teal-600 sm:ring-8 dark:ring-teal-700 shrink-0">
                <%= fa_icon "credit-card-alt", class: "text-white"%>
            </div>
            <div class="hidden sm:flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
        </div>
        <div class="mt-3 sm:pe-8">
            <time class="block text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Step 2</time>
            <h3 class="text-lg font-semibold text-gray-900 dark:text-gray-800">Trade Execution</h3>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">From the stock’s detailed page, click "Buy stock" or "Sell stock" in the Trader dashboard. Input desired share quantity.</p>
        </div>
    </li>
    <li class="relative mb-6 sm:mb-0">
        <div class="flex items-center">
            <div class="z-10 flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full text-sm ring-0 ring-white dark:bg-teal-600 sm:ring-8 dark:ring-teal-700 shrink-0">
                <%= fa_icon "desktop", class: "text-white"%>
            </div>
            <div class="hidden sm:flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
        </div>
        <div class="mt-3 sm:pe-8">
            <time class="block text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Step 3</time>
            <h3 class="text-lg font-semibold text-gray-900 dark:text-gray-800">Monitoring and Adjustment</h3>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">Consistently monitor trade performance and market conditions. Adjust your strategy as necessary and maintain a trading journal for refinement.</p>
        </div>
    </li>
</ol>

