<div class="w-full flex items-center bg-teal-500 rounded-lg shadow gap-2 pl-8 py-4 text-white xl:flex-col xl:justify-center xl:pl-0">
    <span class="w-10 h-10 flex justify-center items-center text-2xl bg-white text-teal-500 rounded-full"><%= fa_icon "dollar"%></span>
    <span class="xl:text-center">
        <h2 class="font-medium text-white text-xs">Gains</h2>
        <h1 class="font-medium text-white text-2xl">$1000</h1>
    </span>
</div>
<div class="w-full flex items-center bg-teal-500 rounded-lg shadow gap-2 pl-8 py-4 text-white xl:flex-col xl:justify-center xl:pl-0">
    <span class="w-10 h-10 flex justify-center items-center text-2xl bg-white text-teal-500 rounded-full"><%= fa_icon "arrow-down"%></span>
    <span class="xl:text-center">
        <h2 class="font-medium text-white text-xs">Loss</h2>
        <h1 class="font-medium text-white text-2xl">$1000</h1>
    </span>
</div>

<div class="w-full flex items-center bg-teal-500 rounded-lg shadow gap-2 pl-8 py-4 text-white xl:flex-col xl:justify-center xl:pl-0">
    <span class="w-10 h-10 flex justify-center items-center text-2xl bg-white text-teal-500 rounded-full"><%= fa_icon "money"%></span>
    <span class="xl:text-center">
        <h2 class="font-medium text-white text-xs">Cost</h2>
        <h1 class="font-medium text-white text-2xl">$1000</h1>
    </span>
</div>
