<div class="w-full flex justify-between  text-white text-lg font-semibold">
    <span>
        <h2 class="pb-4">Portfolio Value</h2>
        <h1 class="text-4xl">$ <%= @portfolio_value%></h1>
    </span>
    <span class="h-16 w-16 flex justify-center items-center bg-white text-teal-600 rounded-full text-3xl">
        <%= fa_icon "money"%>
    </span>
</div>
